/* X-Small */
@media (max-width: 575.98px) {
  .truncate {
    max-width: 100px;
  }
}

/* Small */
@media (min-width: 576px) and (max-width: 767.98px) {
  .truncate {
    max-width: 125px;
  }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991.98px) {
  .truncate {
    max-width: 200px;
  }
}

/* Large */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .truncate {
    max-width: 300px;
  }
}

/* Extra large */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .truncate {
    max-width: 400px;
  }
}

/* Extra extra large */
@media (min-width: 1400px) {
  .truncate {
    max-width: 475px;
  }
}
